/.github export-ignore
/beacon export-ignore
/tests export-ignore
/.* export-ignore
/AGENTS.md export-ignore
/CLAUDE.md export-ignore
/CONTRIBUTING.md export-ignore
/Makefile export-ignore
/code-of-conduct.md export-ignore
/composer.lock export-ignore
/dist export-ignore
